.App {
  position: relative;
  min-height: 100vh;
}

.wholeNav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(62, 57, 57);
}

.navwhite{
  background-color: rgb(62, 57, 57) !important;
}

.navitems{
  margin: 40px 50px 0px 150px;
}

.logo{
  height: 30px;
  width: 100px;
}

.navbaritems{
  padding-left: 60px;
}

.navbaritems ul li{
  padding-left: 25px;
}


.nav-rightside{
  display: flex;
  margin-right: 150%;
  justify-content: center;
  align-items: center;
  
  
}

.sidebutton{
  margin-left: 200px;
  margin-right: 70px;
}

.btnspace{
  margin-right: 5px;
}

 .side-image{
  height: 250px;
  width: 400px;
  float: right;
} 

/* GET IN TOUCH CSS */

.touch-container{
  background-color: rgb(109, 109, 201);
  height: 750px;
  padding-top: 30px;
  /* padding-bottom: 100px; */
  
}

.touch-header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.touch-header h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.touch-details{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.touch-inputs:hover{
  box-shadow: 5px 5px 5px rgb(30, 26, 26);
}
.touch-info{
  box-shadow: 5px 5px 5px rgb(30, 26, 26);
}
.touch-inputs{
  margin: 0 50px 0 100px
  
}
.img-css:hover{
  transform: translateZ(20px);
  box-shadow: 5px 5px 5px rgb(64, 41, 41);
}
.touch-contact{
  display: flex;
}

.msg-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.touch-details{
  display: flex;
  justify-content: center;

}
.btn-css{
 /* background-color: rgb(188, 206, 72); */
 border-radius: 7px;
 border-color: rgb(69, 69, 225);
}
.btn-css:hover{
  background-color: rgb(31, 119, 196);
  transition: 0.5s ease-in-out;
  
}

.touch-details .touch-inputs input{
  margin: 10px;
}

.touch-info{
  background-color: rgb(53, 157, 56);
  margin: 50px 300px 100px 300px;
  padding: 10px;
}

.submitbtn:hover{
  background-color: rgb(13, 154, 34);
  transition: 0.5s ease-in-out;
}

.cardItems{
  display: flex 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(53, 157, 56);
}
.footerlist{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px 40px 40px 60px ;
  
}
.footerlist div :hover{
  color: rgb(199, 11, 11);
  transition: 0.5s ease-in-out;
  /* background-color: rgb(196, 28, 28); */
}
.wholefooter{
  background-color: rgb(250, 87, 87);
}
.footerlist div{
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cpyrt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quicklinks{
  margin-left: 50px;
}